.day-blank {
	background-color: #efefef !important;
}
.day-sun .day{
	color:red;
}
.day-sat .day{
	color: blue;
}
.calendar table td {	
	padding: 3px;
	border: solid 1px #999;
}
.calendar table td:before {
	display: block;
	float: left;
	height: 50px;
	content: "";
}
.calendar table td .day {
	margin-bottom: 0;
}
.calendar table th {
	text-align: center;
	border: solid 1px #999;
}